<!DOCTYPE html>
<html lang="en">
<head>
<title>Barkod Listesi</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<br></br>
		<h1 class="display-4" align="center">Barkod Listesi</h1>
		<br></br>
		<div class="row col-md-auto table-responsive">
			<table id="barcodesTable" class="table table-hover">
				<caption>Tüm Barkodlar</caption>
				<thead align="center">
					<tr>
						<th scope="col" align="center">Kimliği
						</th>
						<th scope="col" align="center">Barkod
						</th>
						<th scope="col" align="center">Barkodun Ait Olduğu Kullanıcı
						</th>
					</tr>
				</thead>
				<th:block th:each="barcode:${barcodes}" >
					<tr>
						<td th:text="${barcode.barcodeId}" align="center" />
						<td th:text="${barcode.barcodeName}" align="center" />
						<td th:text="${barcode.user.firstname} +  '   ' + ${barcode.user.lastname}" align="center" />
					</tr>
				</th:block>
			</table>
			<form>
				<div class="margin-top20 text-center">
					<button type="submit" class="btn btn-outline-secondary">
						<a th:href="@{/login}"> Ana Sayfa </a>
					</button>
				</div>
				<br></br>
				<div class="margin-top20 text-center">
					<button class="btn btn-outline-secondary">
						<a th:href="@{/home/home}" class="d-flex justify-content-center">Profile
							Geri Dön</a>
					</button>
				</div>
				<br></br>
				<br></br>
				<br></br>
			</form>
</body>
</html>